numpy==1.26.4
pandas==2.2.2
plotly==5.23.0
requests==2.32.3
scikit-learn==1.5.1
scipy==1.13.1
streamlit==1.37.1
streamlit-lottie==0.0.5
tensorflow==2.17.0
streamlit-lottie==0.0.5
streamlit-option-menu==0.3.13
requests==2.32.3
beautifulsoup4==4.12.3
kaleido==0.2.1
keras==3.4.1
matplotlib==3.9.1.post1
yfinance==0.2.41
opencv-python==4.10.0.84
